<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
  
  {#    Лого сайта  #}
      <a class="navbar-brand" href="/">Коворкинг</a>
  
  {#      Для мобильной версии  #}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
  {#      Главная   #}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home-place' %}">Домой</a>
          </li>
  
  {#      Создать заметку   #}
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'create-note' %}">Создать</a>
          </li> {% endcomment %}
  
  {#      история заметок   #}
          {% comment %} {% if history_uuids %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'show-history-of-pages' %}">
                История
                <span class="badge rounded-pill bg-danger">{{ history_uuids | length }}</span>
            </a>
          </li>
          {% endif %} {% endcomment %}
  
  {#      О сайте   #}
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="{% url 'list-users-coworkings' user.get_username %}">Список броней</a>
          </li>   {% endcomment %}
  
          {% if user.is_authenticated %}
  
          {#      Выход   #}
                  <li class="nav-item">
                      <form action="{% url 'logout' %}" method="post">
                          {% csrf_token %}
                          <button class="nav-link" type="submit">Выйти</button>
                      </form>
                  </li>
  
                  <li class="nav-item">
                    <label class="nav-link">Пользователь: {{ user.get_username }}</label>
                </li>

                {% comment %} <li class="nav-item">
                  <a class="nav-link" href="{% url 'list-users-coworkings' user.get_username %}">Список броней</a>
                </li>   {% endcomment %}

                <div class="dropdown">
                  <button class="nav-link" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Список броней
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'list-users-coworkings' user.get_username %}">Просмотреть мои брони</a></li>
                    <li><a class="dropdown-item" href="{% url 'create-user-coworking'%}">Создать бронь</a></li>
                    <li><a class="dropdown-item" href="{% url 'show-all-coworkings' %}">Просмотреть все брони</a></li>

                    {% comment %} <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li> {% endcomment %}
                  </ul>
                </div>

                <div class="dropdown">
                  <button class="nav-link" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Список отзывов
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li><a class="dropdown-item" href="{% url 'show-user-reviews' user.get_username %}">Просмотреть мои отзывы</a></li>
                    <li><a class="dropdown-item" href="{% url 'create-review-view'%}">Добавить отзыв</a></li>
                    <li><a class="dropdown-item" href="{% url 'show-all-review' %}">Просмотреть все отзывы</a></li>

                    {% comment %} <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li> {% endcomment %}
                  </ul>
                </div>
                  
          
                {% else %}
          
          {#      Вход   #}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Войти</a>
                  </li> 

                 {% endif %}
          
          {#      Регистрация   #}
                  {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Зарегистрироваться</a>
                  </li>
          
                {% endif %} {% endcomment %}
          
  
        </ul>
  
  
  {#    Форма поиска (по умолчанию метод GET)   #}
        <form class="d-flex" role="search" action="/">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
  
  
      </div>
    </div>
  </nav>